:root {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #282D35;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
}

main {
  padding: 20px 40px;
}

nav {
  display: flex; 
  gap: 10px;
  align-items: center;
}

nav img {
  margin-left: 20px;
}

nav span {
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}


