:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  background-color: #21222A;
  height: 90px;
}

nav {
  display: flex; 
  gap: 10px;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
nav span {
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}


